<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/testicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/testicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
        <activity
            android:name=".co2"
            android:exported="false"
            android:label="Co2 - Huella de Carbono"/>
        <activity
            android:name=".Descuentos"
            android:exported="false" />
        <activity
            android:name=".Mantenimiento"
            android:exported="false" />
        <activity
            android:name=".ImpuestosSlv"
            android:exported="false" />
        <activity
            android:name=".costosKm"
            android:exported="false" />
        <activity
            android:name=".Rendimiento"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>